/* Estilos usados por Juan Ramon*/
a{
    font-size: 30px;
}

p.JuanRamon:hover{
    color:red;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    font-family: 'Roboto', sans-serif;
}
p.angel{
    font-size: 18px;

}
h1{
    text-align: center;
}
p.angel:hover{
    transform: scale(1.1);
    color: rgb(118, 215, 135);
    margin-left: 5%;
    font-style: italic;
}
a{
    text-decoration: none;
    color: black;
}
